/* .admin-container {
  padding: 40px;
}

table {
  width: 100%;

  border-collapse: collapse;

  background: white;
}

th,
td {
  padding: 16px;

  border-bottom: 1px solid #eee;
}

button {
  padding: 10px 20px;

  border: none;

  background: black;

  color: white;

  border-radius: 8px;
} */